html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 1.6;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex-container{
    display: flex;
}